ins {
  text-decoration: underline;
}

.votes {
  height: 3rem;
  display: flex;
  overflow: hidden;
  background-color: rgb(198, 198, 198);
  border-radius: 1.5rem;
}

.\+ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: green;
  color: white;
  overflow: hidden;
}

.\- {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: red;
  color: white;
  overflow: hidden;
}

.\30 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: orange;
  color: white;
  overflow: hidden;
}

.novote {
  height: 100%;
  background-color: lightgrey;;
  color: white
}

.added {
  background-color: lightgreen;
}

.removed {
  background-color: lightcoral;
}