<!DOCTYPE html>
<meta charset="utf8" />
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
<script>
function filter() {
  query = document.getElementById('input').value.toLowerCase();
  lis = document.getElementById("list").getElementsByTagName('li');
  tokens = query.split(/\s+/).map((token) => token).filter(Boolean)
  console.log(tokens, query)

  for (const li of lis) {
    string = li.getElementsByTagName("a")[0].innerText.toLowerCase();
    if (tokens.some((token) => string.includes(token))) {
      li.style.display = "";
    } else {
      li.style.display = "none";
    }
  }
}
</script>
</script>
<body>
  <header><h1>QuiVoteQuoi?</h1></header>
  <main>
    <input id="input" oninput="filter()" type="search" placeholder="Cherchez une procédure"/>
    <ul id="list">
      {% for procedure in procedures %}
        <li><a href="procedure/{{ procedure.reference }}">{{ procedure.title }}</a></li>
      {% endfor %}
    </ul>
  </main>
</body>

</html>