<!DOCTYPE html>
<meta charset="utf8" />
<html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-wasm.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.2.0/diff.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
/>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" /> -->
<script>
  function search(string, query) {
    return query.split(/\s+/).some((token) => string.toLowerCase().includes(token.toLowerCase()))
  }
</script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<body>
  <header><h1>QuiVoteQuoi?</h1></header>
  <main>
    <input x-model="query" type="search" placeholder="Cherchez un sujet de vote"/>
    <ul x-data="{ filtered: [] }" x-effect="filtered = procedures.filter(({ title }) => search(title, query))">
      {% for procedure in procedures %}
        <li><a href="procedure/{{ procedure.reference }}">{{ procedure.title }}</a></li>
      {% endfor %}
    </ul>
  </main>
</body>

</html>