{% import "components.njk" as c %}
{% extends "parent.njk" %}

{% block head %}
<script>
function filter() {
  query = document.getElementById('input').value.toLowerCase();
  lis = document.getElementById("list").getElementsByTagName('article');
  tokens = query.split(/\s+/).map((token) => token).filter(Boolean)

  for (const li of lis) {
    string = li.getElementsByTagName("a")[0].innerText.toLowerCase();
    if (tokens.length == 0 || tokens.every((token) => string.includes(token))) {
      li.style.display = "";
    } else {
      li.style.display = "none";
    }
  }
}
</script>
{% endblock %}

{% block main %}
<details>
  <summary>💡 Thèmes</summary>
  <ul>
    {% for theme in subjects | where('theme') | map('theme') | uniq %}
      <li>{{ theme }}</li>
    {% endfor %}
  </ul>
</details>
<input id="input" oninput="filter()" type="search" placeholder="Cherchez une procédure"/>
<div id="list">
  {% set sorted = procedures | where('status', 'Procédure terminée') | sort('date') | reverse %}
  {% for procedure in sorted %}
    <article>
      {% set themes = subjects | where_in('code', procedure.subjects) | map('theme') | uniq %}
      <header>{% for theme in themes %}{{ theme }} {% endfor %}</header>
      <a href="/procedure/{{ procedure.reference }}">{{ procedure.title }}</a>
      <footer><small>{{ procedure.date | date }} | {{ procedure.status }}</small></footer>
    </article>
  {% endfor %}
</div>
{% endblock %}