{% extends "parent.njk" %}

{% block head %}
<style>
main { text-align: center; }
h1 { display: flex; align-items: center; height: 50vh }
</style>
{% endblock %}

{% block main %}
<h1>Découvrez comment vote les députés français au Parlement Européen.</h1>
<div class="grid">
    <a role="button" href="/search">🗳️ Chercher un vote</a>
    <a role="button" href="/members">👤 Chercher un député</a>
    {# <a role="button" href="/how-it-works">🤔 Comment ça marche ?</a> #}
</div>
{% endblock %}