{% extends "parent.njk" %}

{% block links %}
<li><a href="/">Procédures</a></li>
{% endblock %}

{% block main %}
  {% for member in members | current %}
  <article>
    <header><a href="/member/{{ member.id }}"><b>{{ member.full_name }}</b> | {{ member.party }}</a></header>
    {% set atts = attendances | attendance(member) %}
    {% set attended = atts | where('attend', true) | length %}
    {% set total = atts | length %}
    Taux de présence: <b>{{ attended | ratio(total) }}</b> ({{ attended }} plénières sur {{ total }})
  </article>
  {% endfor %}
{% endblock %}