---
pagination:
    data: members
    size: 1
    alias: member
permalink: "member/{{ member.id }}/index.html"
---
{% import "components.njk" as c %}
{% extends "parent.njk" %}
{% block main %}
<h2>{{ member.full_name }}</h2>
{% set member_votes = votings | where('doc', doc_refs) %}
{% endblock %}