---
pagination:
    data: procedures
    size: 1
    alias: procedure
permalink: "procedure/{{ procedure.reference }}/index.html"
---
{% import "components.njk" as c %}
{% extends "parent.njk" %}
{% block main %}
<a href="/">◀️ Retourner à la recherche</a>
<h2>{{ procedure.title }}</h2>
{% set docs = docs | where('procedure', procedure.reference) %}
{% set doc_refs = docs | map('ref') %}
{% set procedure_votes = votes | where_in('doc', doc_refs) %}
{% set primary_votes = procedure_votes | where_in('type', ['ADOPTION', 'REJECTION']) %}
<h3>🎯 Votes principaux</h3>
{% for primary in primary_votes | reverse %}
    <article>
    <header>{% if primary.type == 'ADOPTION' %}👍 Adoption du texte{% else %}👎 Rejet du texte{% endif %} | {{ c.adopted(primary.result) }}</header>
    {% if primary.votes %}
        <h6>🇪🇺 Votes de tous les députés européens</h6>
        <section>{{ c.simplebar(primary.votes) }}</section>
        <details>
            <summary>📊 Voir la légende</summary>
            <ul>
                <li>🟢 Pour</li>
                <li>🔴 Contre</li>
                <li>🟡 Abstention</li>
                {# <li>⚪ Absence</li> #}
            </ul>
        </details>
        <hr>
        <h6>🇫🇷 Votes des députés français</h6>
        {% set finals = votings | where('procedure_ref', procedure.reference ) | where('type', primary.type) %}
        {% if finals.length == 1 %}
            <section>{{ c.fullbar(finals[0].positions) }}</section>
            <a href="/voting/{{ finals[0].id }}">🗳 Voir le détail du vote</a>
        {% else %}
            🔎 Vote introuvable
        {% endif %}
    {% else %}
        🖐 Vote à main levée
    {% endif %}
    </article>
{% endfor %}
<h3>🏷 Sujets</h3>
<ul>
    {{ procedure.subject }}
    {% for code in procedure.subjects %}
        {% set subject = subjects | find('code', code) %}
        {% if subject %}
            <li>{{ subject.name }}</li>
        {% else %}
            <li>{{ code }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% set amd_votes = procedure_votes | where ('type', 'AMENDMENT') | intsort('amendment') %}
<h3>📓 Amendements</h3>
{% for vote in amd_votes %}
    {% set amendment = docs | find('ref', vote.doc) | map('amendments') | find('nr', vote.amendment) %}
    {% if amendment %}
    <article>
    <header>📝 Amendement n°{{ vote.amendment }}{% if vote.split %} | Partie {{ vote.split }}{% endif %} | {{ c.adopted(vote.result) }}</header>
    {% if vote.split %}
        <p>🔜 Vote par division : aperçu bientôt disponible</p>
    {% else %}
        {{ c.amendment(amendment) }}
    {% endif %}
    <footer>
        {% if vote.votes %}
            {{ c.simplebar(vote.votes, true) }}
            {% if vote.rcv %}
                {% set vote_votings = votings | where('doc', vote.doc ) | where('amendment', vote.amendment) %}
                {% if vote.split %}
                    {% set voting = vote_votings | where('split', vote.split) | first %}
                {% else %}
                    {% set voting = vote_votings | first %}
                {% endif %}
                <a href="/voting/{{ voting.id }}">📣 Vote nominal : voir le détail</a>
            {% else %}
                🤖 Vote électronique
            {% endif %}
        {% else %}
            🖐 Vote à main levée
        {% endif %}
    </footer>
    </article>
    {% endif %}
{% else %}
    Aucun amendement
{% endfor %}
<h3>Sources</h3>
<ul>
  <li><a href="{{ procedure.url | replace('.json', '.do') }}" target="_blank">ℹ️ Procédure</a></li>
  {% for doc in docs %}
    <li><a href="{{ doc.url }}" target="_blank">📜 Texte et amendements</a></li>
  {% endfor %}
  {% for url in procedure_votes | map('url') | uniq %}
    <li><a href="{{ url | replace('.xml', '.html') }}" target="_blank">🗳 Détails des votes </a></li>
  {% endfor %}
</ul>
{% endblock %}