---
pagination:
    data: procedures
    size: 1
    alias: procedure
permalink: "procedure/{{ procedure.reference }}/index.html"
---
{% import "components.njk" as c with context %}
{% extends "parent.njk" %}
{% block title %}{{ procedure.title }}{% endblock %}

{% block head %}
<script defer src="/procedure.js"></script>
{% endblock %}

{% block main %}
<hgroup>
    <h2>{{ procedure.title }}</h2>
    <subtitle>{{ procedure.status }}</subtitle>
</hgroup>
{% set proc_docs = docs | where('procedure', procedure.reference) %}
{% set doc_refs = proc_docs | map('ref') %}
{% set procedure_votes = votes | where_in('doc', doc_refs) %}
{% set primary_votes = procedure_votes | where_exp('type', 'type != "AMENDMENT"') | where_exp('result', 'result != "LAPSED"') | sort(false, true, 'date') %}
<h3>📌 Votes principaux</h3>
{% for primary in primary_votes %}
    {% set final = null %}
    <article>
        <header>
            {{ c.type(primary) }}
            <div style="float: right">{{ c.adopted(primary) }}</div>
        </header>
        {% if primary.author %}
            <i>Proposé par {{ c.authors(primary) }}</i>
            <hr>
        {% endif %}
        {% if primary.votes %}
            <p>🇪🇺 Députés européens</p>
            <section>{{ c.simplebar(primary.votes) }}</section>
            <hr>
            <p>🇫🇷 Députés français{% if primary.id %}<a style="float: right" href="/vote/{{ primary.id }}">🗳 Voir le vote</a>{% endif %}</p>
            {% if primary.positions %}
                {% set final_positions = primary.positions | map_entries('member_id', 'position') %}
                {% set final_members = members | current(finals[0].date) %}
                <section>{{ c.fullbar(final_positions, final_members) }}</section>
            {% elif primary.rcv %}
                🔎 Vote introuvable
            {% else %}   
                🤖 Vote électronique
            {% endif %}         
        {% else %}
            🖐 Vote à main levée
        {% endif %}
        <footer>
            <span style="float: right">{{ primary.date | date }}</span>
        </footer>
    </article>
{% endfor %}

<h3>🏷 Sujets</h3>
<ul>
    {{ procedure.subject }}
    {% for code in procedure.subjects %}
        {% set subject = subjects | find('code', code) %}
        {% if subject %}
            <li>{{ subject.name }}</li>
        {% else %}
            <li>{{ code }}</li>
        {% endif %}
    {% endfor %}
</ul>

<h3>📚 Sources</h3>
<ul>
    <li>ℹ️ Procédure <a href="{{ procedure.url | replace('.json', '.do') }}" target="_blank">{{ procedure.reference }}</a></li>
    <li>📜 Textes et amendements
        <ul>
            {% for doc in proc_docs %}
                <li><a href="{{ doc.url }}" target="_blank">{{ doc.ref }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>🗳 Votes
        <ul>
            {% for vote in procedure_votes | uniq('date') %}
                <li><a href="{{ vote.url | replace('.xml', '.html') }}" target="_blank">{{ vote.date | date }}</a></li>
            {% endfor %}
    </ul>
</ul>

<h3>🗃️ Données</h3>
{% set active_members = members | current(procedure.date) %}
<section class="tabs">
    {{ c.tabs(['📓 Amendements', '🧩 Explications', '🗣️ Interventions']) }}
    <form>
        <fieldset role="group">
            <select id="member" onchange="filter(this.value)" aria-label="Filtrer par sujet">
                <option selected value="">👥 Filtrer par groupe/parti</option>
                {% for group in groups %}
                    {% set g_members = active_members | where('group', group.code) %}
                    <optgroup label="{{ group.name }} ({{ group.code }})">
                        <option value="{{ group.code }},{{ g_members | map('id') | join(',') }}">🇪🇺 Tout le groupe {{ group.name }}</option> 
                        {% for party, p_members in g_members | groupby('party') %}
                            <option value="{{ group.code }},{{ p_members | map('id') | join(',') }}">🇫🇷 {{ party }}</option> 
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <input type="reset" onclick="filter('')"/>
        </fieldset>
    </form>

    <section>
    {% set amd_votes = procedure_votes | where ('type', 'AMENDMENT') | intsort('amendment') %}
    {% for vote in amd_votes %}
        {% set amendment = amendments | where('doc', vote.doc) | find('nr', vote.amendment) %}
        {% if amendment %}
            <article id="{{ vote.amendment }}">
            <header>
                📝 Amendement n°{{ vote.amendment }}{% if vote.split %} | Partie {{ vote.split }}{% endif %}
                <span style="float: right">{{ c.adopted(vote) }}</span>
            </header>
            {% if vote.split %}
                <p>🔜 Vote par division : aperçu bientôt disponible</p>
            {% else %}
                <div class="hidden">{% if vote.author[0] == 'DEPUTEES' %}{{ amendment.authors }}{% elif vote.author[0] == 'GROUP' %}{{ vote.author[1] }}{% endif %}</div>
                {{ c.amendment(amendment) }}
                <p><i>Déposé par {{ c.authors(vote, amendment) }}</i></p>
            {% endif %}
            <p><a href="{{ amendment.url }}">🔗 Voir la source</a></p>
            {% if vote.result != 'LAPSED' %}<footer>{{ c.vote(vote) }}</footer>{% endif %}
            </article>
        {% endif %}
    {% endfor %}
    <div class="empty">🚫 Aucun amendement</div>
    </section>
    
    <section>
    {% set proc_exps = explanations | where_in('doc', doc_refs) %}
    {% for exp in proc_exps %}
        <article>
            <div class="hidden">{{ exp.member_id }}</div>
            {% set member = active_members | find('id', exp.member_id) %}
            <header><b>{{ member.full_name }}</b> | {{ member.party }}</header>
            {{ exp.content }}
        </article>
    {% endfor %}
    <div class="empty">🚫 Aucune explication de vote</div>
    </section>


    <section>
    {% set proc_speeches = speeches | where ('procedure', procedure.reference) %}
    {% for speech in proc_speeches %}
        <article>
            <div class="hidden">{{ speech.member_id }}</div>
            {% set member = active_members | find('id', speech.member_id) %}
            <header><b>{{ member.full_name }}</b> | {{ member.party }}</header>
            {% for p in speech.content %}
                <p>{{ p }}</p>
            {% endfor %}
        </article>
    {% endfor %}
    <div class="empty">🚫 Aucune intervention en plénière</div>
    </section>
{% endblock %}
