<article>
    <header>
        <small>{{ procedure.date | date }} | <b>{{ procedure.status }}</b></small>
    </header>
    <a href="/procedure/{{ procedure.reference }}">{{ procedure.title }}</a>
</article>