<article>
    <header>
        <small>{{ procedure.date | date }} | {{ procedure.status }}</small>
    </header>
    <a href="/procedure/{{ procedure.reference }}">{{ procedure.title }}</a>
</article>