{% macro amendment(amendment) %}
{% set changes = amendment.old | diff(amendment.new) %}
<section>
{% for change in changes %}
  {% if change[0] == 1 %}
      <ins>{{ change[1] }}</ins>
  {% elif change[0] == -1 %}
      <del>{{ change[1] }}</del>
  {% else %}
      {{ change[1] }}
  {% endif %}
{% endfor %} 
</section>
{% endmacro %}

{% macro fullbar(positions, members) %}
{% set for_positions = positions | where('position', '+') %}
{% set ag_positions = positions | where('position', '-') %}
{% set ab_positions = positions | where('position', '0') %}
<div class="votes">
  {% if for_positions.length %}
    <div class="+" style="width: calc({{ for_positions | length }}/{{ positions | length }} * 100%)">{{ for_positions | length }}</div>
  {% endif %}
  {% if ag_positions.length %}
    <div class="-" style="width: calc({{ ag_positions | length }}/{{ positions | length }} * 100%)">{{ ag_positions | length }}</div>
  {% endif %}
  {% if ab_positions.length %}
    <div class="0" style="width: calc({{ ab_positions | length }}/{{ positions | length }} * 100%)">{{ ab_positions | length }}</div>
  {% endif %}
</div>
{% if members %}
  <small>Parmi {{ members | length }} députés, {{ positions | length }} ont votés.</small>
{% endif %} 
{% endmacro %}

{% macro simplebar(votes) %}
{% set total = votes | sum %}
<div class="votes">
  {% if votes[0] %}
    <div class="+" style="width: calc({{ votes[0] }}/{{ total }} * 100%)">{{ votes[0] }}</div>
  {% endif %}
  {% if votes[1] %}
    <div class="-" style="width: calc({{ votes[1] }}/{{ total }} * 100%)">{{ votes[1] }}</div>
  {% endif %}
  {% if votes[2] %}
    <div class="0" style="width: calc({{ votes[2] }}/{{ total }} * 100%)">{{ votes[2] }}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro adopted(string) %}
{% if string == 'ADOPTED' %}
✅️ Adopté
{% elif string == 'REJECTED' %}
❌️ Rejeté
{% else %}
Erreur
{% endif %}
{% endmacro %}

{% macro result(procedure) %}
<article>
    {% set themes = committees | where_in('code', procedure.committees) | map('theme') | uniq | log %}
    <header>{% for theme in themes %}{{ theme }}{% endfor %}</header>
    <a href="/procedure/{{ procedure.reference }}">{{ procedure.title }}</a>
    <footer><small>{{ procedure.date | date }} | {{ procedure.status }}</small></footer>
</article>
{% endmacro %}