<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}quivotequoi{% endblock %}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <link rel="stylesheet" href="/bundle.css">
        <!-- Matomo -->
        <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://quivotequoi.matomo.cloud/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src='https://cdn.matomo.cloud/quivotequoi.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <!-- End Matomo Code -->
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>qui<b>vote</b>quoi<b style="color: #3C71F7">.eu</b></li>
                </ul>
                <ul>
                    <li><a href="/" class="secondary">Recherche</a></li>
                    <li>
                        <details class="dropdown">
                            <summary>
                                Menu
                            </summary>
                            <ul dir="rtl">
                                <li><a href="/members">Députés</a></li>
                                <li><a href="/about">À propos</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
          {% block main %}{% endblock %}
        </main>
        <footer class="container">
            <a href="https://github.com/cabanon/quivotequoi">Code source</a>
        </footer>
    </body>
</html>