<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
        <link rel="stylesheet" href="/bundle.css"/>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
            <ul>
                <li><h1>QuiVoteQuoi?</h1></li>
            </ul>
            <ul>
                {% block links %}<li><a href="/members">Membres</a></li>{% endblock %}
            </ul>
            </nav>
        </header>
        <main>
          {% block main %}{% endblock %}
        </main>
    </body>
</html>